* {font-size:5vh; font-family:Arial}

div.header {
    border-style: outset;left:1%;
    right:1%;
    margin-bottom:1%
}
div.content * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:1%
}

div.match_grid {
    display: grid;
    grid-template-columns: 20% auto 20% 20%;
}
div.match_grid > * {
    font-size:3vh;
    margin: 0px;
    display: inline-block;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    margin: 0px;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid black;
}

input.logout {
    float:right;
    margin:2.5vh;
}
h3 {
    display:inline-block;
    margin:2.5vh;
}

input.loose_button {
    margin:2%
}
p, input, a {
    text-align:center;
    margin: auto;
}
